body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: plum;
    color: #333;
}

header {
    background-color: skyblue;
    color: dimgray;
    text-align: center;
    padding: 1em;
}
header {
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    background-color: #ffffff56;
  
  }
  h3{
      color: red;
  }
  
  
  
  header .navbar {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .navbar .menu-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
   
  }
  
  
  
  .navbar .menu-links li a {
    /* color: darkmagenta; */
    color: black;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s ease;
  
  }
  
  .navbar .menu-links .language-item a {
     display: flex; 
    gap: 8px;
    align-items: center;
  }
  
  .navbar .menu-links .language-item span {
    font-size: 1.3rem;
  }
  
  .navbar .menu-links li a:hover {
    color: #1dbf73;
   
    /* font-size: 1.5rem; */
  }
  
  .navbar .menu-links .join-btn a {
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 4px;
  }
  
  .navbar .menu-links .join-btn .signIn-btn a:hover {
    color: #fff;
    border-color: transparent;
    background: #1dbf73;
  }

main {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 40px;
} 

.content {
    max-width: 600px;
    
}


h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

p {
    text-align: justify;
    line-height: 1.6;
    cursor: pointer;
}

.image {
    flex-basis: 45%;
}

img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
