header {
   /* position: relative; */
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 20px;
  background-color: #ffffff56;

}
h3{
    color: red;
}



header .navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
 
}



.navbar .menu-links li a {
  /* color: darkmagenta; */
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;

}

.navbar .menu-links .language-item a {
   display: flex; 
  gap: 8px;
  align-items: center;
}

.navbar .menu-links .language-item span {
  font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
  color: #1dbf73;
 
  
}

.navbar .menu-links .join-btn a {
  border: 1px solid #fff;
  padding: 8px 15px;
  border-radius: 4px;
}

.navbar .menu-links .join-btn .signIn-btn a:hover {
  color: #fff;
  border-color: transparent;
  background: #1dbf73;
}


.fa {
    padding: 10px;
    font-size: 30px;
    width: 10px;
    text-align: right;
    margin: 3px 2px;
    box-sizing: content-box;
    
  }
  .body {
    font-family: Arial, sans-serif;
    background-color: goldenrod;
  }
  .container {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
div {
  text-align: center;
}
.fa {
  margin-right: 5px; 
}

a {
  text-decoration: none; 
  color: #333; 
  font-size: 18px; 
}


a:hover {
  color: #4314c4; 
}

.signup-section {
    margin-top: 20px;
  }
  
  .signup-section p {
    color: #666;
  }
  
  .signup-section a {
    color: #007bff;
  }
  .social-icons {
    margin-bottom: 20px;
  }
  
  .social-icons a {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: #0056b3;
  }
  
  
  