header {
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    background-color: #ffffff56;
  
  }
  h3{
      color: red;
  }
  
  
  
  header .navbar {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .navbar .menu-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
   
  }
  
  
  
  .navbar .menu-links li a {
    /* color: darkmagenta; */
    color: black;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s ease;
  
  }
  
  .navbar .menu-links .language-item a {
     display: flex; 
    gap: 8px;
    align-items: center;
  }
  
  .navbar .menu-links .language-item span {
    font-size: 1.3rem;
  }
  
  .navbar .menu-links li a:hover {
    color: #1dbf73;
   
    /* font-size: 1.5rem; */
  }
  
  .navbar .menu-links .join-btn a {
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 4px;
  }
  
  .navbar .menu-links .join-btn .signIn-btn a:hover {
    color: #fff;
    border-color: transparent;
    background: #1dbf73;
  }
  
  /* body { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}  */
  
.product-viewer { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 400px; 
} 
  
.viewer-container { 
    position: relative; 
    width: 100%; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
} 
  
.product-image { 
    width: 100%; 
    transition: transform 0.5s; 
} 
  
.controls { 
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    margin-top: 10px; 
} 
  
.control-button { 
    padding: 10px 20px; 
    background-color: #000000; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
} 
  
.control-button:hover { 
    background-color: #0000FF; 
}
 




  